<%= form_for(@chuangyexingdong) do |f| %>
  <% if @chuangyexingdong.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chuangyexingdong.errors.count, "error") %> prohibited this chuangyexingdong from being saved:</h2>

      <ul>
      <% @chuangyexingdong.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
