<%= form_for(@import7_log) do |f| %>
  <% if @import7_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@import7_log.errors.count, "error") %> prohibited this import7_log from being saved:</h2>

      <ul>
      <% @import7_log.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
