<%= form_for(@kaifangjijin) do |f| %>
  <% if @kaifangjijin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kaifangjijin.errors.count, "error") %> prohibited this kaifangjijin from being saved:</h2>

      <ul>
      <% @kaifangjijin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
