<%= form_for(@warning_chengji_student) do |f| %>
  <% if @warning_chengji_student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@warning_chengji_student.errors.count, "error") %> prohibited this warning_chengji_student from being saved:</h2>

      <ul>
      <% @warning_chengji_student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
